%textocenter{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 1.8;
    padding-top: 80px;
    @media screen and (max-width:500px){
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }
}

%dispflex{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

%display{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


%blackpd{
    background-color: #171616;
    color: #EBE5D9;
    padding-right: 100px;
    padding-left: 100px;
}